body {
    background: #cee5d0;
  }
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .Header {
    display: inline;
    border: 5px solid black;
    border-radius: 10px;
    font-weight: 900;
    font-size: 2.5em;
    padding: 0 20px 3px 20px;
    color: whitesmoke;
    background: #5e454b;
  }
  
  .Footer {
    color: black;
    text-align: right;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }
  
  .Screen {
    display: flex;
  }
  
  .WriteArea,
  .ListArea {
    margin: 0 auto;
    margin-top: 20px;
    width: 50vw;
    height: 80vh;
    overflow: auto;
  }