  .memoArea {
    width: 100%;
    height: 85%;
  }
  
  .title {
    border: none;
    border-bottom: 3px solid #5e454b;
    border-top: 3px solid #5e454b;
    font-size: 1.25em;
    margin-top: 10px;
    width: 60%;
    height: 30px;
  }
  
  .memoArea > .titleNum {
    padding-left: 10px;
    font-size: 1.25em;
  }
  
  .memo {
    border: 3px solid #5e454b;
    border-radius: 10px;
    font-size: 1.25em;
    width: 90%;
    height: 80%;
    resize: none;
  }
  